#newPatient {
  background-color: #ccdde0;
  border-radius: 10px;
  position:absolute;
  top: 80px;
  left: 25%;
  margin: auto;
  z-index: 1;
  width: 720px;
  display: none;
  padding-bottom: 5px;
  margin-bottom:5px;
}

#newMedecin {
  background-color: #ccdde0;
  border-radius: 10px;
  position:absolute;
  top: 80px;
  left: 25%;
  margin: auto;
  z-index: 1;
  width: 720px;
  display: none;
  padding-bottom: 5px;
  margin-bottom:5px;
}

legend{
  padding-left: 20px;
}
