main {
  margin-left: 2%;
  margin-right: 2%;
}

.btn-block {
  margin-left: 195px;
  margin-top: 24px;
}

nav {
  font-size: 15px;
  position:static;
  display: inline-block;
  height: 50px;
  width: 100%;
  background: linear-gradient(#4e8597, #6ea3b4);
}

.affTab {
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display:block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #f2f2f2;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-left: 20px;
  overflow:hidden;
}

li {
  float: left;
}

a:hover {
  text-decoration: none;
  background: linear-gradient(#4e8597,#cddfe5);
  color: #f2f2f2;
}

#logo {
  margin-left: 10px;
  padding-right: 5px;
  margin-right: 5px;
}

.right {
  float: right;
  margin-right: 15px;
}

.col2 {
  margin-left: 20%;
}

.contentCard{
  padding: 30px;
}

#Patientcard{
  background-color: #ccdde0;
  border: 3,5px;
	border-radius: 15px;
  width: 800px;

}
#MedecinCard{
  background-color: #ccdde0;
  width: 300px;
  border: 3,5px;
	border-radius: 15px;
  margin-left: 20px;
}
#DateCard{
  width: 300px;
  margin-left: 20px;
  background-color: #ccdde0;
  border: 3,5px;
	border-radius: 15px;
}

#dateConsultation{
  width: 90px;
}

#duréeConsultation{
  width: 66px;
}
