<! DOCTYPE html>
<!-- test -->

  <head>
      <style type="text/css">
        header{  height: 100px;  width: 102%;   margin-left: -9px; background-color: #6ea3b4;  }
        ul{   position: fixed;   margin-top: 3%;   width: 110%;  }
        #menu > li {	display:inline-block;	padding-left: 7%;}
        #logo {
          padding-left: 80%;
        }
        a:link {  color: #363689;}
        a:visited {  color: #2A374E;}
        a:hover {  color: darkgrey;}
        a:active {  color: #2A374E;}
      </style>
  </head>
  <header>
      <nav>
      	<div >
      		<ul id="menu">
      			<li><a href="./patientList.php"> PATIENTS </a></li>

      			<li><a href="./medecinList.php"> MEDECINS </a></li>
      	  </ul>
            <img id = "logo" src="../view/logoNav.png" >
      	</div>
      </nav>
  </header>
