<! DOCTYPE html>
<!-- test -->

  <head>
      <style type="text/css">
        header{ font-size: 2em; position: fixed; height: 100px;  width: 102%;   margin-left: -9px; margin-top: -20px; background-color: #6ea3b4;  }
        menu{}
        ul{         width: 110%;  }
        #menu > li {	display:inline-block;	padding-left: 7%;}
        #logo { padding-left: 70%; }
        a:link {  color: #363689;}
        a:visited {  color: #2A374E;}
        a:hover {  color: darkgrey;}
        a:active {  color: #2A374E;}
      </style>
  </head>
  <header>
      <nav>

      		<ul id="menu">
      			<li><a href="./patientList.php"> PATIENTS </a></li>

      			<li><a href="./medecinList.php"> MEDECINS </a></li>
            <li><img id = "logo" src="../view/logoNav.png" ></li>
      	  </ul>


      </nav>
  </header>
