<! DOCTYPE html>
<!-- test -->
<html lang = "fr">
  <head>
      <meta charset="utf-8">
      <title>Medical Care - patient</title>
      <style type="text/css">
        header{  height: 90px;;  width: 100%;  background-color: lightblue;  }
        ul{   position: fixed;   margin-top: 3%;   width: 100%;  }
        #menu > li {	display:inline-block;	padding-left: 7%;}
        #logo {
          padding-left: 80%;
          padding-top: 3%;
        }
        a:link {  color: #363689;}
        a:visited {  color: #2A374E;}
        a:hover {  color: darkgrey;}
        a:active {  color: #2A374E;}
      </style>
  </head>
  <body>
    <header>
      <nav>
      	<div >
      		<ul id="menu">
      			<li><a href="#patientTab.php"> PATIENTS </a></li>

      			<li><a href="#medecinTab.php"> MEDECINS </a></li>

      	    </ul>
            <img id = "logo" src="../logoNav.png" >
      	</div>
      </nav>
    </header>
  </body>
</ html>
